@model Ogretmen
@{
    ViewData["Title"] = "Öğretmen Ekle";
}

<h1>Öğretmen Ekle</h1>

<form asp-controller="Ogretmen" asp-action="OgretmenEkle" method="post">
    <div class="mb-3">
        <label class="form-label">Öğretmen Adı Soyadı</label>
        <input class="form-control" type="text" asp-for="AdSoyad" />
    </div>
    <div class="mb-3">
        <label class="form-label">Branşı</label>
        <input class="form-control" type="text" asp-for="Brans" />
    </div>
    
    <input type="submit" class="btn btn-success" value="Kaydet" />
</form>


