@{
	ViewData["Title"] = "ExtraIslemler";
}

<h1>Extra İşlemler (Örnek amaçlı)</h1>

<a class="btn col-md-2 mb-3 form-control btn-outline-dark" href="/Ogrenci/OgrenciBilgi">Ogrenci Bilgi (ViewData)</a>
<a class="btn col-md-2 mb-3 form-control btn-outline-info" href="/Ogrenci/OgrenciBilgi1">Ogrenci Bilgi1 (ViewBag)</a>
<a class="btn col-md-2 mb-3 form-control btn-outline-secondary " href="/Ogrenci/OgrenciBilgi2">Ogrenci Bilgi2 (model)</a>
<a class="btn col-md-2 mb-3 form-control btn-outline-success " href="/Ogrenci/OgrenciOgretmenBilgi">Ogrenci+Öğretmen Bilgi (DTO)</a>
