@{
    ViewData["Title"] = "Ana sayfa";
}

<div class="col-md-7 offset-3 text-center">
    <h1 class="mt-3 display-5">ÖĞRENCİ TAKİP SİSTEMİ</h1>
    <p class="mb-3">Öğrenci-Veli Takip Sistemi Uygulamasına hoş geldiniz.</p>
    <a class="btn mb-3 form-control btn-outline-primary" href="/Ogrenci">Öğrenci</a>
    <a class="btn mb-3 form-control btn-outline-secondary " href="/Ogretmen">Öğretmen</a>

</div>
